*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #efefee;
}
.container{
    width: 34rem;
    position: absolute;
    top: 10%;
    left: 35%;
}
#card{
    position: relative;
    background: radial-gradient(circle at 50% 0%, orange 36%, #ffffff 36%);
    width: 100%;
    padding: 3rem 2rem;
    box-shadow: 0 2rem 3rem rgba(0,0,0,0.15);
    border-radius: 1rem;
}
#card img{
    display: block;
    width: 35rem;
    max-height: 30rem;
    position: relative;
    margin: 3rem auto;
}
.hp{
    width: 8rem;
    background-color: #fff;
    text-align: center;
    padding: 0.8rem 0;
    border-radius: 3rem;
    margin-left: auto;
    font-weight: 400;
}
.poke-name{
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    margin-top: 2rem;
}
.types{
    display: flex;
    justify-content: space-around;
    margin: 2rem 0 4rem 0;
}
.hp span,
.types span{
    font-size: 1.8rem;
    letter-spacing: 0.04rem;
    font-weight: 600;
}
.types span{
    padding: .5rem 2rem;
    border-radius: 2rem;
    color: #fff;
}
.stats{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 1.5rem;
}
.stats p{
    color: #404060;
}
#btn{
    display: block;
    padding: 1.5rem 6rem;
    font-size: 1.8rem;
    background-color: #101010;
    color: #ffffff;
    position: relative;
    margin: 3rem auto;
    border: none;
    border-radius: 0.5rem;
}