*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    font-family: 'Yantramanav', sans-serif;
}
/************** Navbar ***************/
.navbar{
    display: flex;
    padding: 5rem 0;
    align-items: center;
    justify-content: space-around;
}
.navbar-logo{
    position: relative;
    left: 2rem;
}
.navbar-list{
    display: flex;
    list-style: none;
    position: relative;
    left: 20rem;
}
.list-items:hover{
    color: rgb(126, 115, 115);
}
.list-items{
    font-size: 2rem;
    padding: 1rem 2.5rem;
}
.navbar-button{
    color: #ffffff;
    background-color: rgb(29, 28, 28);
    height: 5rem;
    width: 13rem;
    border-radius: 1rem;
}
.navbar-button:hover{
    color: rgb(29, 28, 28);
    background-color: #ffffff;
}

/************** Hero Section ***************/
.hero-upper{
    display: flex;
}
.hero-headphone{
    position: relative;
    left: 24rem;
    bottom: 30rem;
} 
.on-ear{
    position: relative;
    left: 4rem;
}
.hero-description{
    position: relative;
    left: 33.5rem;
}
.description-bottom{
    display: flex;
    flex-direction: column;
}
.hero-heading{
    font-size: 3rem;
}
.hero-heading:hover{
    color: rgb(126, 115, 115);
}
.hero-overview{
    font-size: 2rem;
    padding: 3rem 0;
    font-weight: 600;
}

.hero-paragraph{
    font-size: 1.8rem;
    color: #beb6b6;
    padding-bottom: 3rem;
    width: 35%;
}
.hero-paragraph:hover{
    color: #ffffff;
}
.hero-button{
    display: flex;
    background-color: rgb(29, 28, 28);
    height: 5rem;
    width: 25rem;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    gap: 2rem;
}
.hero-button:hover{
    background-color: rgb(233, 222, 222);
    color: rgb(29, 28, 28);
}
.hero-add-bag{
    font-size: 1.5rem;
    padding: 0.2rem 0.2rem;
    color: #cab6b6;
}
.hero-add-bag:hover{
    color: #0f0d0d;
}
.N39K{
    font-size: 1.8rem; 
    font-weight: 600;
}


/* Hero Lower */
.hero-lower{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    right: 50rem;
    top: 10rem;
    transition: transform .5s;
}
.apple-logo:hover{
    transform: scale(1.5);
}
.spotify-logo:hover{
    transform: scale(1.5);
}
.amazon-logo:hover{
    transform: scale(1.5);
}
.youtube-logo:hover{
    transform: scale(1.5);
}


/* **************Specs Section ************ */
.specs-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}
.specs-heading{
    font-size: 2rem;
}
.specs-para{
    font-size: 1.5rem;
    width: 60%;
    color: #cab6b6;
}
.specs-logo{
    position: relative;
    left: 12rem;
    bottom: 5rem;
}
.specs-bluetooth{
    padding: 2rem 0;
    position: relative;
    left: 3rem;
}
.specs-battery{
    padding: 2rem 0;
}
.specs-charger{
    padding: 2rem 0;
}
.specs-mic{
    padding: 2rem 0;
    position: relative;
    left: 3rem;
}
.specs-right{
    position: relative;
    left: 5rem;
    top: 3rem;
}


/* **************Case Section ************ */
.case-section{
    display: flex;
    padding: 10rem 0;
}
.case-left{
    padding: 0 10rem;
    position: relative;
    left: 27rem;
}
.case-logo{
    position: relative;
    left: 25rem;
    bottom: 5rem;
}
.case-right{
    padding-top: 15rem ;
    position: relative;
    left: 27rem;
}
.case-paragraph{
    font-size: 2rem;
    color: #cab6b6;
    width: 30%;
}
.case-info{
    margin: 4rem 0 ;
    padding: 1.5rem;
    background-color: rgb(29, 28, 28);
    width: 20%;
    height: 5rem;
    border-radius: 1rem;
}
.case-info:hover{
    color: #0f0d0d;
    background-color: rgb(236, 218, 218);
}
.more-info{
    font-size: 1.8rem;
    padding: 0 1.5rem;
    position: relative;
    bottom: 0.6rem;
}

/* ********* Buy Now ********** */
.buy-now-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(29, 28, 28);
    padding: 5rem 0;
    margin:0 15rem;
    border-radius: 1rem;
}
.buy-now-heading{
    font-size: 3rem;
    width: 65%;
}
.buy-now-paragraph{
    font-size: 1.8rem;
    color: #948e8e;
    padding: 2rem 0;
}
.buy-now-btn{
    background-color: rgb(0, 0, 0);
    width: 35%;
    height: 5.5rem;
    padding: 1.5rem;
    border-radius: 1rem
}
.buy-now-btn:hover{
    background-color: rgb(243, 226, 226);
    color: #050505;
    font-weight: 600;
}
.buy-now-bag{
    padding: 0 1rem;
}
.buy-now-button{
    font-size: 1.5rem;
    position: relative;
    bottom: 0.5rem;
    color: #948e8e;
}

/* ********** Choose your style ********* */
.choose-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.choose-style-logo{
    padding: 5rem 0;
}
.collections{
    margin: 10rem 0;
}
.collection-style{
    background-color: rgb(29, 27, 27);
    width: 30rem;
    height: 30rem;
    border-radius: 1rem;
    margin: 8rem 4rem;
}
.collection-style:hover{
    background-color: rgb(235, 211, 211);
    color: #050505;
}
.collection-style-image{
    position: relative;
    left: 3rem;
    bottom: 12rem;
}
.collection-style-description{
    display: flex;
    padding: 0 2rem;
    position: relative;
    bottom: 12rem;
}
.collection-style-heading{
    font-size: 2rem;
    padding: 1rem 0;
}
.collection-style-name{
    font-size: 1.5rem;
}
.collection-style-btn1{
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 0.8rem 0;
    height: 4rem;
    width: 4rem;
    position: relative;
    top: 3.5rem;
    left: 16rem;
    border-radius: 1rem;
}
.collection-style-btn2{
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 0.8rem 0;
    height: 4rem;
    width: 4rem;
    position: relative;
    top: 3.5rem;
    left: 11.5rem;
    border-radius: 1rem;
}
.collection-style-btn3{
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 0.8rem 0;
    height: 4rem;
    width: 4rem;
    position: relative;
    top: 3.5rem;
    left: 10.5rem;
    border-radius: 1rem;
}
.collection-style-btn4{
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 0.8rem 0;
    height: 4rem;
    width: 4rem;
    position: relative;
    top: 3.5rem;
    left: 17rem;
    border-radius: 1rem;
}
.collection-style-btn5{
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 0.8rem 0;
    height: 4rem;
    width: 4rem;
    position: relative;
    top: 3.5rem;
    left: 9rem;
    border-radius: 1rem;
}
.collection-1-2-3{
    display: flex;
}
.collection-4-and-5{
    display: flex;
}

/* ************ Footer ************** */
.footer-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 8rem;
}
.footer-1-image,.footer-logo{
    transition: transform .5s;
}
.footer-1-image:hover {
    transform: scale(1.5);
}
.footer-logo:hover{
    transform: scale(1.5);
}
.footer-logo{
    padding-bottom: 10rem;
}
.footer-list-1{
    list-style: none;
    padding-top: 3rem;
}
.first-list-item{
    font-size: 2rem;
}
.footer-items{
    font-size: 1.5rem;
    padding: 1rem 0;
    color: #948e8e;
    transition: transform .5s;
}
.footer-items:hover{
    transform: scale(1.5);
}
.footer-button{
    display: flex;
    justify-content: space-between;
    background-color: rgb(22, 20, 20);
    width: 30rem;
    height: 5rem;
    border-radius: 1rem;
    padding: 1.5rem;
}
.footer-mail{
    font-size: 1rem;
    color: #948e8e;
}
.footer-list{
    display: flex;
    gap: 5rem;
    margin:0 10rem ;
}
.footer-main-logo{
    display: flex;
    gap: 5rem;
    margin:0 5rem ;
}
.footer-main-btn{
    background-color: rgb(0, 0, 0);
    padding: 1rem;
    width: 13rem;
    height: 4rem;
    border-radius: 1rem;
    position: relative;
    bottom: 1rem;
}
.footer-right-arrow{
    padding: 1rem;
}
.footer-subscribe{
    font-size: 1.5rem;
    position: relative;
    bottom: 0.3rem;
}
.footer-social-media{
    display: flex;
    gap: 2rem;
    margin: 3rem 0;
    transition: transform .5s;
}
.media-1:hover{
    transform: scale(1.5);
    transition: transform .5s;
}
.media-2:hover{
    transform: scale(1.5);
    transition: transform .5s;
}
.media-3:hover{
    transform: scale(1.5);
    transition: transform .5s;
}
.media-4:hover{
    transform: scale(1.5);
    transition: transform .5s;
}
.footer-up-arrow{
    padding-top: 5rem;
}

/* ********* Media Query *********** */

/* Max width 480px */

@media screen and (max-width:480px) {
    html{
        font-size: 55%;
    }
    .navbar{
        padding: auto 5%;
    }
    .navbar-list{
        display: none;
    }
    .hero-headphone{
        display: none;
    }
    .hero-description{
        position: relative;
        left: 3.5rem;
    }
    .hero-paragraph{
        width: 80%;
        text-align: justify;
    }
    .hero-lower{
        display: block;
        position: relative;
        right: 0.2rem;
        top: 5rem;
    }
    .specs-section{
        display: block;
        margin-top: 20rem; 
    }
    .specs-left{
        margin-left: 5rem;
    }
    .specs-right{
        margin-left: 5rem;
    }
    .case-section{
        display: block;
    }
    .case-left{
        padding: 0 3rem;
        position: relative;
        left: 7rem;
    }
    .case-right{
        padding-top: 5rem ;
        position: relative;
        left: 7rem;
    }
    .case-logo{
        position: relative;
        left: 5rem;
        bottom: 5rem;
    }
    .case-info{
        width: 30%;
    }
    .case-paragraph{
        text-align: justify;
        width: 75%;
    }
    .buy-now-section{
        display: block;
        padding: 2rem 0;
        margin:0 2rem;
    }
    .buy-now-left{
        margin:0 0 2rem 15rem;
    }
    .buy-now-right{
        margin-left: 5rem;
    }
    .buy-now-btn{
        width: 45%;
    }
    .collection-1-2-3{
        display: block;
    }
    .collection-4-and-5{
        display: block;
    }
    .collection-style{
        width: 35rem;
        height: 35rem;
        margin: 15rem 4rem;
    }
    .footer-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 5rem;
    }
}

/* Min 481px to Max 600px */

@media (min-width: 481px) and (max-width:600px){
    html{
        font-size: 58%;
    }
    .navbar{
        padding: auto 10%;
    }
    .navbar-button,.navbar-logo{
        display: none;
    }
    .navbar-list{
        position: relative;
        left: 5rem;
    }

    .hero-headphone{
        position: relative;
        left: 16rem;
        bottom: 3rem;
    }
    .hero-upper{
        display: block;
    }
    .hero-description{
        position: relative;
        left: 5.5rem;
    }
    .hero-paragraph{
        width: 80%;
        text-align: justify;
    }
    .hero-lower{
        display: flex;
        width: 85%;
        flex-wrap: wrap;
        position: relative;
        right: 0.2rem;
        top: 5rem;
    }
    .specs-section{
        display: block;
        margin-top: 18rem; 
    }
    .specs-left{
        margin-left: 10rem;
    }
    .specs-right{
        margin-left: 10rem;
    }
    .case-section{
        display: block;
    }
    .case-left{
        padding: 0 3rem;
        position: relative;
        left: 12rem;
    }
    .case-right{
        padding-top: 5rem ;
        position: relative;
        left: 7rem;
    }
    .case-logo{
        position: relative;
        left: 5rem;
        bottom: 5rem;
    }
    .case-info{
        width: 30%;
    }
    .case-paragraph{
        text-align: justify;
        width: 75%;
    }
    .buy-now-section{
        display: block;
        padding: 2rem 0;
        margin:0 5rem;
    }
    .buy-now-left{
        margin:0 0 7rem 15rem;
    }
    .buy-now-right{
        margin-left: 9rem;
    }
    .buy-now-btn{
        width: 45%;
    }
    .collection-1-2-3{
        display: block;
    }
    .collection-4-and-5{
        display: block;
    }
    .collection-style{
        width: 32rem;
        height: 32rem;
        margin: 15rem 4rem;
    }
    .footer-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 5rem;
    }
}

/* Min 601px and Max 768px */

@media (min-width: 601px) and (max-width: 768px) {
    .navbar{
        display: flex;
        width: 95%;
    }
    .navbar-list{
        position: relative;
        left: 6rem;
    }
    .navbar-button{
        margin-left: 10rem;
        height: 5rem;
        width: 10rem;
    }
    .hero-headphone{
        position: relative;
        left: 2rem;
        bottom: 3rem;
    }
    .hero-description{
        position: relative;
        left: 5.5rem;
    }
    .hero-paragraph{
        width: 80%;
        text-align: justify;
    }
    .hero-lower{
        display: flex;
        width: 85%;
        flex-wrap: wrap;
        position: relative;
        right: 0.2rem;
        top: 5rem;
    }
    .specs-section{
        margin-top: 10rem; 
    }
    .case-section{
        display: block;
    }
    .case-left{
        padding: 0 3rem;
        position: relative;
        left: 12rem;
    }
    .case-right{
        padding-top: 5rem ;
        position: relative;
        left: 10rem;
    }
    .case-logo{
        position: relative;
        left: 10rem;
        bottom: 5rem;
    }
    .case-info{
        width: 30%;
    }
    .case-paragraph{
        text-align: justify;
        width: 75%;
    }
    .buy-now-section{
        padding: 2rem 0;
        margin:0 5rem;
    }
    .buy-now-left{
        margin-left: 7rem;
    }
    .buy-now-right{
        margin-left: 2rem;
    }
    .buy-now-btn{
        width: 95%;
    }
    .collection-1-2-3{
        display: flex;
        flex-wrap: wrap;
    }
    .collection-4-and-5{
        display: flex;
    }
    .collection-style{
        width: 32rem;
        height: 32rem;
        margin: 8rem 4rem;
    }
    .footer-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 5rem;
        gap: 2rem;
    }

}

/* Min 769px and Max-1024px */

@media (min-width: 769px) and (max-width: 1024px) {
    .navbar-list{
        position: relative;
        left: 10rem;
    }
    .hero-headphone{
        position: relative;
        left: 5rem;
        bottom: 30rem;
    }
    .hero-description{
        position: relative;
        left: 15.5rem;
    }
    .hero-lower{
        display: flex;
        width: 85%;
        flex-wrap: wrap;
        position: relative;
        right: 30rem;
        top: 5rem;
    }
    .case-left{
        padding: 0 3rem;
        position: relative;
        left: 2rem;
    }
    .case-right{
        padding-top: 20rem ;
        position: relative;
        left: 10rem;
    }
    .case-logo{
        position: relative;
        left: 25rem;
        bottom: 5rem;
    }
    .case-info{
        width: 30%;
    }
    .case-paragraph{
        text-align: justify;
        width: 65%;
    }
    .buy-now-section{
        padding: 2rem 0;
    }
    .buy-now-left{
        margin-left: 2rem;
    }
    .buy-now-right{
        margin-right: 2rem;
    }
    .buy-now-btn{
        width: 50%;
    }
    .collections{
        margin: 5rem 0;
    }
    .collection-1-2-3{
        display: flex;
        flex-wrap: wrap;
    }
    .collection-4-and-5{
        display: flex;
    }
    .collection-style{
        width: 30rem;
        height: 30rem;
        margin: 8rem 0.5rem;
    }
    .footer-section{
        width: 90%;
    }

}