*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Hind Siliguri', sans-serif;
    background-color: #4d4949;
}

/* Navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.logo{
    width: 175px;
    position: relative;
    right: 90px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 30px;
    color: #ffffffb2;
    font-size: 20px;
}
.navbar-button{
    display: flex;
    margin-left: 50px;
}
.started-button{
    margin-top: 8px;
    width: 120px;
    height: 40px;
    background-color: #4d4949;
    border: 1px solid rgba(189, 189, 7, 0.911);
    border-radius: 10px;
    color: rgba(189, 189, 7, 0.911);
    font-size: 15px;
}

/* Hero Section */
.justice-content{
    display: flex;
    margin: 20px;
}
.heading-text{
    width: 500px;
    height: 250px;
    font-size: 50px;
    color: #ffff;
    font-weight: 900;
    margin-left: 7%;
}
.description{
    width: 430px;
    height: 130px;
    padding: 30px;
    margin-left: 20%;
    color: #ffff;
    font-size: 20px;
}
img[src="./assets/banner.png"]{
    margin-left: 7%;
    width: 72rem;
    height: 30rem;
}
