/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    font-family: 'Kanit', sans-serif;
    background-color: rgb(236, 230, 197);
}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;
}
.list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.list-item{
    margin: 25px;
    font-size: 25px;
    font-weight: 600;
    color: rgb(56, 56, 233);
}
.list-item:hover{
    color: rgb(99, 35, 51);
    cursor: pointer;
}
.nav-button{
    border: none;
    border-radius: 10px;
    font-size: 18px;
    height: 50px;
    width: 150px;
    background-color: rgb(56, 56, 233);
    color: rgb(255, 255, 255);
}
.nav-button:hover{
    cursor: pointer;
    background-color: rgb(206, 235, 44);
    color:rgb(56, 56, 233) ;
}
.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
img[src="./assets/Header Illustration.png"]{
    width: 50rem;
    height: 40rem;
}
.left-div{
    margin-left: 70px;
    position: relative;
    bottom: 4rem;
}
.heading-text{
    font-size: 70px;
    color:rgb(23, 143, 173);
}
.heading-text:hover{
    color: rgb(99, 35, 51);
    cursor: pointer;
}
span{
    color: rgb(77, 77, 196);
}
.description{
    font-size: 25px;
    color:rgb(56, 56, 233) ;
    margin: 20px 0;
    font-weight: 500;
}
.btn{
    margin-top: 40px;
    width: 200px;
} 

/* Media Query for mobile to tablet*/
@media (max-width:390px){
    .right-div{
        overflow: hidden;
    }

    .banner-container{
        display: block;
        margin-top: 5rem;
    }

    .list{
        align-items: center;
        justify-content: center;
    }

    .heading-text{
        font-size: 30px;
    }

    .description{
        font-size: 15px;
    }

    .nav-button{
        width: 100px;
        font-size: 15px;
    }
}


/* Media query for tablet and above */
@media  (min-width:391px) and (max-width:1200px){
    .right-div{
        overflow: hidden;
    }

    .banner-container{
        margin-top: 5rem;
        flex-wrap: wrap;
    }

    .list{
        align-items: center;
        justify-content: center;
    }

    .heading-text{
        font-size: 50px;
        align-items: center;
        justify-content: center;
    }

    .description{
        font-size: 30px;
        align-items: center;
        justify-content: center;
    }
}
