*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.container{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8rem 0;
}
h1{
    color: #242B2E;
    font-size: 5rem;
    padding: 1rem 0;
}
p {
    font-size: 3rem;
    color: #00D84A;
    padding: 2rem 0;
}
.buttons{
    display: flex;
    gap: 2rem;
    font-family: 'Montserrat', sans-serif;
}
.buttons > button{
    width: 15rem;
    height: 5rem;
    font-size: 1.8rem;
    font-weight: 500;
    background-color: #00D84A;
    border-radius: 2rem;
    border: none;
}
#start:hover{
    background-color: #50DBB4;
}
#stop:hover{
    background-color: #B4161B;
}
#reset:hover{
    background-color: #EDBF69;
}