/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}
body{
    z-index: -1;
    background-image: url("./assets/bg.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    padding: 10px;
}
.line{
    font-size: 50px;
    font-weight: 300;
}
.list{
    display: flex;
    list-style-type: none;
}
.list-item{
    margin: 25px;
    font-size: 20px;
    font-weight: 600;
}
.button-small{
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    height: 27px;
    width: 120px;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero-heading{
    font-size: 45px;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
    height: 150px;
    width: 500px;
}
.hero-description{
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
}
.button-large{
    border: none;
    margin: 50px 0;
    height: 65px;
    width: 350px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 600;
    background-color: rgb(186, 58, 218);
}
