* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Ubuntu", sans-serif;
}
html {
  font-size: 62.5%;
}
/* ***************Navbar********************** */
.navbar {
  background-color: rgb(12, 9, 9);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffff;
  padding: 2rem;
}
.logo-item {
  transition: transform 0.3s;
}
.logo-item:hover {
  transform: scale(1.4);
}
.list {
  list-style-type: none;
  display: flex;
  gap: 5rem;
}
.list-items {
  font-size: 2rem;
  color: #808080;
  font-weight: 600;
  transition: transform 0.5s;
}
.list-items:hover {
  transform: scale(1.5);
  color: #f7f5f5;
}
.navbar-button {
  border: none;
  height: 5rem;
  width: 11rem;
  border-radius: 3rem;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #1b98f5;
  color: #ffff;
  transition: box-shadow 0.3s;
}
.navbar-button:hover {
  box-shadow: 0 0 3rem rgba(71, 199, 238, 0.8);
  background-color: rgb(12, 12, 12);
}

/* ***************Hero Section**************** */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(12, 9, 9);
  color: #ffff;
  padding: 10rem 0;
}
.left-main {
  margin-left: 7rem;
  margin-right: 3rem;
}
.right-main {
  margin-right: 8rem;
  transition: transform 0.3s;
}
.right-main:hover {
  transform: scale(0.8);
}
.hero-heading {
  font-size: 3rem;
  position: relative;
  bottom: 7rem;
  transition: transform 0.5s;
}
.hero-heading:hover {
  transform: scale(0.8);
}
.hero-description {
  font-size: 2rem;
  color: #808080;
  position: relative;
  bottom: 6rem;
}
.hero-description:hover {
  color: #f8f0f0;
}
.left-main-buttons {
  display: flex;
  gap: 5rem;
}
.first-btn {
  border: none;
  height: 5rem;
  width: 15rem;
  border-radius: 3rem;
  font-size: 1.7rem;
  font-weight: 600;
  background-color: #1b98f5;
  color: #ffff;
  transition: box-shadow 0.5s;
}
.first-btn:hover {
  box-shadow: 0 0 3rem rgba(71, 199, 238, 0.8);
  background-color: rgb(12, 12, 12);
}
.second-btn {
  border: 0.1rem solid rgb(245, 234, 234);
  height: 5rem;
  width: 15rem;
  border-radius: 3rem;
  font-size: 1.7rem;
  font-weight: 600;
  background-color: rgb(12, 9, 9);
  color: #ffff;
  transition: box-shadow 0.5s;
}
.second-btn:hover {
  box-shadow: 0 0 3rem rgba(226, 239, 243, 0.8);
  background-color: #fff;
  color: #020202;
}

/* **************Section-2******************** */
.section-2 {
  display: flex;
  background-color: rgb(39, 34, 34);
  padding: 3rem 0;
  justify-content: space-around;
}
img[alt="logo-1"] {
  transition: transform 0.5s;
}
img[alt="logo-1"]:hover {
  transform: scale(0.8);
}
img[alt="logo-2"] {
  transition: transform 0.5s;
}
img[alt="logo-2"]:hover {
  transform: scale(0.8);
}
img[alt="logo-3"] {
  transition: transform 0.5s;
}
img[alt="logo-3"]:hover {
  transform: scale(0.8);
}
img[alt="logo-4"] {
  transition: transform 0.5s;
}
img[alt="logo-4"]:hover {
  transform: scale(0.8);
}
/* *************Section-3********************** */
.section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top-section-2 {
  padding: 10rem 010rem 15rem;
}
.top-section-2-heading {
  font-size: 3rem;
}
.top-section-2-description {
  font-size: 2rem;
  width: 60%;
  margin: 1.5rem 8rem;
  text-align: center;
  color: #808080;
}
.bottom-section-2 {
  display: flex;
  gap: 2rem;
  margin: 0 10rem 6rem 10rem;
}
.fast-section {
  text-align: center;
  width: 38%;
  height: 30rem;
  position: relative;
  right: 5rem;
  border: 0.2rem solid #adadad;
  border-radius: 2rem;
  transition: transform 0.5s;
}
.fast-section:hover {
  transform: scale(1.2);
}
.fast-section > img {
  padding: 2rem;
}
.fast-section-heading {
  font-size: 3.2rem;
  margin: 1rem 0.7rem;
}
.fast-section-heading:hover {
  color: #1b98f5;
}
.fast-section-description {
  font-size: 1.8rem;
  margin: 2rem 0 0 3rem;
  width: 75%;
  font-weight: 600;
  color: #808080;
}
.signal-section {
  text-align: center;
  width: 38%;
  height: 30rem;
  background-color: rgb(3, 3, 3);
  border: none;
  border-radius: 2rem;
  color: #ffff;
  position: relative;
  bottom: 5rem;
  transition: transform 0.5s;
}
.signal-section:hover {
  transform: scale(1.2);
}
.signal-section > img {
  padding: 2rem;
}
.signal-section-heading {
  font-size: 3.2rem;
  margin: 1rem 0.7rem;
}
.signal-section-heading:hover {
  color: #1b98f5;
}
.signal-section-description {
  font-size: 1.8rem;
  margin: 2rem 0 0 3rem;
  width: 75%;
  font-weight: 600;
  color: #808080;
}
.heart-section {
  text-align: center;
  width: 38%;
  height: 30rem;
  position: relative;
  left: 5rem;
  border: 0.2rem solid #adadad;
  border-radius: 2rem;
  transition: transform 0.5s;
}
.heart-section:hover {
  transform: scale(1.2);
}
.heart-section > img {
  padding: 2rem;
}
.heart-section-heading {
  font-size: 3.2rem;
  margin: 1rem 0.7rem;
}
.heart-section-heading:hover {
  color: #1b98f5;
}
.heart-section-description {
  font-size: 1.8rem;
  margin: 2rem 0 0 3rem;
  width: 75%;
  font-weight: 600;
  color: #808080;
}

/* ****************Section-4*************** */
.section-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 0;
}
.top-section-4 {
  width: 70%;
  position: relative;
  right: 8rem;
  padding: 4rem 0;
  font-size: 3.5rem;
}
.top-section-4:hover {
  color: #1b98f5;
}
.bottom-section-4 {
  display: flex;
  gap: 22rem;
}
/* **************Left bottom**************** */
.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border: none;
  border-radius: 5rem;
  background-color: #1b98f5;
  width: 50rem;
  height: 10rem;
  margin: 1rem 0;
}
.features:hover {
  background-color: #121313;
}
.features > span {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffff;
}
.optimization {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border: 0.2rem solid #adadad;
  border-radius: 5rem;
  background-color: rgb(255, 252, 252);
  width: 50rem;
  height: 10rem;
  margin: 1rem 0;
}
.optimization:hover {
  background-color: #1b98f5;
}
.optimization > span {
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(8, 7, 7);
}
.security {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border: 0.2rem solid #adadad;
  border-radius: 5rem;
  background-color: rgb(255, 252, 252);
  width: 50rem;
  height: 10rem;
  margin: 1rem 0;
}
.security:hover {
  background-color: #1b98f5;
}
.security > span {
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(8, 7, 7);
}
.additional {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border: 0.2rem solid #adadad;
  border-radius: 5rem;
  background-color: rgb(255, 252, 252);
  width: 50rem;
  height: 10rem;
  margin: 1rem 0;
}
.additional:hover {
  background-color: #1b98f5;
}
.additional > span {
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(8, 7, 7);
}
.support {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border: 0.2rem solid #adadad;
  border-radius: 5rem;
  background-color: rgb(255, 252, 252);
  width: 50rem;
  height: 10rem;
  margin: 1rem 0;
}
.support:hover {
  background-color: #1b98f5;
}
.support > span {
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(8, 7, 7);
}

/* *****************Right Bottom********** */
.right-bottom {
  background-color: rgb(14, 9, 9);
  border-radius: 3.5rem;
}
.websites {
  text-align: start;
  padding: 1rem 0 1rem 1rem;
  width: 50rem;
  height: 5rem;
  background-color: rgb(34, 30, 30);
  border: none;
  border-radius: 3.5rem;
  margin: 1rem 1rem;
}
.websites:hover {
  background-color: rgb(255, 252, 252);
}
.websites-heading {
  font-size: 2rem;
  padding: 1rem;
  color: #adadad;
}
.websites-heading:hover {
  color: #070707;
}
.email {
  text-align: start;
  padding: 1rem 0 1rem 1rem;
  width: 50rem;
  height: 5rem;
  background-color: rgb(34, 30, 30);
  border: none;
  border-radius: 3.5rem;
  margin: 1rem 1rem;
}
.email:hover {
  background-color: rgb(255, 252, 252);
}
.email-heading {
  font-size: 2rem;
  padding: 1rem;
  color: #adadad;
}
.email-heading:hover {
  color: #070707;
}
.database {
  text-align: start;
  padding: 1rem 0 1rem 1rem;
  width: 50rem;
  height: 5rem;
  background-color: rgb(34, 30, 30);
  border: none;
  border-radius: 3.5rem;
  margin: 1rem 1rem;
}
.database:hover {
  background-color: rgb(255, 252, 252);
}
.database-heading {
  font-size: 2rem;
  padding: 1rem;
  color: #adadad;
}
.database-heading:hover {
  color: #070707;
}
.bandwidth {
  text-align: start;
  padding: 1rem 0 1rem 1rem;
  width: 50rem;
  height: 5rem;
  background-color: rgb(34, 30, 30);
  border: none;
  border-radius: 3.5rem;
  margin: 1rem 1rem;
}
.bandwidth:hover {
  background-color: rgb(255, 252, 252);
}
.bandwidth-heading {
  font-size: 2rem;
  padding: 1rem;
  color: #adadad;
}
.bandwidth-heading:hover {
  color: #070707;
}
.domains {
  text-align: start;
  padding: 1rem 0 1rem 1rem;
  width: 50rem;
  height: 5rem;
  background-color: rgb(34, 30, 30);
  border: none;
  border-radius: 3.5rem;
  margin: 1rem 1rem;
}
.domains:hover {
  background-color: rgb(255, 252, 252);
}
.domains-heading {
  font-size: 2rem;
  padding: 1rem;
  color: #adadad;
}
.domains-heading:hover {
  color: #070707;
}
.guarantee {
  text-align: start;
  padding: 1rem 0 1rem 1rem;
  width: 50rem;
  height: 5rem;
  background-color: rgb(34, 30, 30);
  border: none;
  border-radius: 3.5rem;
  margin: 1rem 1rem;
}
.guarantee:hover {
  background-color: rgb(255, 252, 252);
}
.guarantee-heading {
  font-size: 2rem;
  padding: 1rem;
  color: #adadad;
}
.guarantee-heading:hover {
  color: #070707;
}
.free {
  text-align: start;
  padding: 1rem 0 1rem 1rem;
  width: 50rem;
  height: 5rem;
  background-color: rgb(34, 30, 30);
  border: none;
  border-radius: 3.5rem;
  margin: 1rem 1rem;
}
.free:hover {
  background-color: rgb(255, 252, 252);
}
.free-heading {
  font-size: 2rem;
  padding: 1rem;
  color: #adadad;
}
.free-heading:hover {
  color: #070707;
}
.space {
  text-align: start;
  padding: 1rem 0 1rem 1rem;
  width: 50rem;
  height: 5rem;
  background-color: rgb(34, 30, 30);
  border: none;
  border-radius: 3.5rem;
  margin: 1rem 1rem;
}
.space:hover {
  background-color: rgb(255, 252, 252);
}
.space-heading {
  font-size: 2rem;
  padding: 1rem;
  color: #adadad;
}
.space-heading:hover {
  color: #070707;
}

/* ******************Section-5**************** */
.section-5 {
  background-color: rgb(12, 9, 9);
  padding: 6rem 0;
}
/* ****************Top Section 5*************** */
.top-section-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10rem;
}
.top-section-5-heading {
  font-size: 3rem;
  width: 50%;
  color: #fffafa;
  text-align: center;
}
.top-section-5-heading:hover {
  color: #6ed0ee;
}

.left-arrow {
  position: relative;
  top: 2.5rem;
  right: 5rem;
  transition: transform 0.5s;
}
.left-arrow:hover {
  transform: scale(1.5);
}
.right-arrow {
  position: relative;
  top: 2.5rem;
  left: 5rem;
  transition: transform 0.5s;
}
.right-arrow:hover {
  transform: scale(1.5);
}
/* ***************Bottom Section 5*************** */
.bottom-section-5 {
  display: flex;
  gap: 2rem;
}
/* *****************Regular Plan**************** */
.regular-plan {
  width: 25%;
  background-color: #fffafa;
  padding: 2rem 2rem;
  border-radius: 2rem;
  position: relative;
  left: 10rem;
  transition: box-shadow 0.5s;
}
.regular-plan:hover {
  box-shadow: 0 0 3rem rgba(226, 239, 243, 0.8);
  background-color: #110f0f;
  color: #fffafa;
}
.regular-heading {
  font-size: 2rem;
  padding: 2rem 0;
}
.regular-price {
  margin-bottom: 2rem;
}
.regular-amt {
  font-size: 3rem;
  font-weight: 600;
}
.regular-period {
  font-size: 2rem;
  font-weight: 600;
  color: #b9b4b4;
}
.regular-description {
  font-size: 2rem;
  width: 30%;
}
.regular-hr {
  padding: 2rem 0;
}
.regular-points {
  padding: 1.2rem 0;
}
/* Standard Plan */

.standard-plan {
  width: 25%;
  background-color: #1b98f5;
  padding: 2rem 2rem;
  border-radius: 2rem;
  position: relative;
  left: 10rem;
  transition: box-shadow 0.3s;
}
.standard-plan:hover {
  box-shadow: 0 0 3rem rgba(90, 185, 214, 0.8);
  background-color: #0c0c0c;
}
.standard-heading {
  font-size: 2rem;
  padding: 2rem 0;
  color: #fffafa;
}

.standard-price {
  margin-bottom: 2rem;
  color: #fffafa;
}
.standard-amt {
  font-size: 3rem;
  font-weight: 600;
  color: #fffafa;
}
.standard-period {
  font-size: 2rem;
  font-weight: 600;
  color: #b9b4b4;
}
.standard-description {
  font-size: 2rem;
  width: 20%;
  color: #fffafa;
}
.standard-hr {
  padding: 2rem 0;
}

/* Premium Plan */
.premium-plan {
  width: 25%;
  background-color: #fffafa;
  padding: 2rem 2rem;
  border-radius: 2rem;
  position: relative;
  left: 10rem;
}
.premium-plan:hover {
  box-shadow: 0 0 3rem rgba(226, 239, 243, 0.8);
  background-color: #110f0f;
  color: #fffafa;
}
.premium-heading {
  font-size: 2rem;
  padding: 2rem 0;
}
.premium-price {
  margin-bottom: 2rem;
}
.premium-amt {
  font-size: 3rem;
  font-weight: 600;
}
.premium-period {
  font-size: 2rem;
  font-weight: 600;
  color: #b9b4b4;
}
.premium-description {
  font-size: 2rem;
  width: 20%;
}
.premium-hr {
  padding: 2rem 0;
}

/* ***********Utilities Class********* */
.select-btn {
  width: 30rem;
  height: 5rem;
  font-size: 1.8rem;
  border: none;
  background-color: #1b98f5;
  border-radius: 3rem;
  color: #fffafa;
}
.select-btn:hover {
  background-color: #fffafa;
  color: #1b98f5;
  border-bottom: 0.5px solid black;
  border-top: 0.5px solid black;
}
.select-btn1 {
  width: 30rem;
  height: 5rem;
  font-size: 1.8rem;
  border: none;
  background-color: #fffafa;
  border-radius: 3rem;
  color: #1b98f5;
}
.select-btn1:hover {
  background-color: #1b98f5;
  color: #fffafa;
  border-bottom: 0.5px solid black;
  border-top: 0.5px solid black;
}
.point {
  margin: 2rem 0;
}

/************* Section-6 ************* */
.section-6 {
  padding: 5rem 0;
}
/* Section-6-top */
.section-6-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5rem 0;
}
.section-6-heading {
  font-size: 3.5rem;
  width: 25%;
}
.section-6-description {
  font-size: 1.7rem;
  width: 25%;
  color: #6b6363;
}

/* Section-6-bottom  */
.section-6-botttom {
  display: flex;
  align-items: center;
  gap: 10rem;
}
/* Section-6- bottom-left */
.section-6-botttom-left {
  display: flex;
  flex-direction: column;
  background-color: rgb(12, 9, 9);
  color: #fffafa;
  width: 40%;
  padding: 3rem;
  border-radius: 3rem;
  position: relative;
  left: 10rem;
}
.section-6-botttom-left:hover {
  background-color: #fffafa;
  color: rgb(12, 9, 9);
  border: 0.2rem solid #6b6363;
}
.vector-left {
  padding-bottom: 2rem;
  transition: transform 0.5s;
}
.vector-left:hover {
  transform: scale(0.9);
}
.section-6-botttom-left-heading {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  font-size: 2.5rem;
}
.section-6-botttom-left-para {
  padding-bottom: 2.5rem;
  font-size: 2.2rem;
}

/* Section-6- bottom-right */
.section-6-botttom-right {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 3rem;
  border: 0.2rem solid #b9b4b4;
  border-radius: 3rem;
  position: relative;
  left: 7rem;
}
.section-6-botttom-right:hover {
  background-color: rgb(10, 10, 10);
  color: #fffafa;
}
.vector-right {
  padding-bottom: 2rem;
  transition: transform 0.5s;
}
.vector-right:hover {
  transform: scale(0.9);
}
.section-6-botttom-right-heading {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  padding-bottom: 2rem;
}
.section-6-botttom-right-para {
  padding-bottom: 2.5rem;
  font-size: 2.2rem;
}
img[alt="star1"],
img[alt="star2"],
img[alt="star3"],
img[alt="star4"],
img[alt="star5"] {
  transition: transform 0.5s;
}
img[alt="star1"]:hover {
  transform: scale(1.5);
}
img[alt="star2"]:hover {
  transform: scale(1.5);
}
img[alt="star3"]:hover {
  transform: scale(1.5);
}
img[alt="star4"]:hover {
  transform: scale(1.5);
}
img[alt="star5"]:hover {
  transform: scale(1.5);
}
div.scroll {
  margin: 5rem 15rem;
  padding: 0.2rem;
  background-color: #1b98f5;
  width: 15rem;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

/* ***********Sction 7 **************** */
.section-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  background-color: rgb(12, 9, 9);
  color: #fffafa;
}
.section-7-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}
.section-7-heading {
  color: #fffafa;
  font-size: 3rem;
  padding: 4rem 0;
  width: 58%;
}
.section-7-heading:hover {
  color: #a7a1a1;
}

/* Input Section */
.input-section {
  background-color: rgb(73, 70, 70);
  width: 77rem;
  height: 6rem;
  padding: 2rem;
  border-radius: 2rem;
}
.input {
  text-align: start;
  padding-left: 2rem;
  margin: 0 1rem;
  background-color: rgb(61, 51, 51);
  border: none;
  border-radius: 3rem;
  font-size: 2rem;
  color: #d8d3d3;
  width: 18rem;
  height: 3rem;
  transition: box-shadow 0.5s;
}
.input:hover {
  box-shadow: 0 0 5rem rgba(226, 239, 243, 0.8);
}
.signup {
  text-align: start;
  padding-left: 2rem;
  background-color: #1b98f5;
  border: none;
  border-radius: 3rem;
  font-size: 2rem;
  color: #d8d3d3;
  width: 11rem;
  height: 3rem;
  transition: box-shadow 0.5s;
}
.signup:hover {
  box-shadow: 0 0 5rem rgba(94, 193, 218, 0.8);
}

/* Section 7 list */
.section-7-list {
  display: flex;
  border-top: 0.1rem solid #808080;
  border-bottom: 0.1rem solid #808080;
  padding: 5rem 4rem;
  gap: 15rem;
}
.list-head {
  font-size: 3rem;
  color: #a5a2a2;
  padding: 1rem 0;
  box-shadow: inset 0 0 0 0 #54b3d6;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.list-head:hover {
  box-shadow: inset 20rem 0 0 0 #54b3d6;
  color: #020202;
}
.unordered-list {
  list-style-type: none;
  color: #a5a2a2;
}
.items {
  padding: 0.8rem 0;
  font-size: 1.5rem;
  transition: transform 0.5s;
}
.items:hover {
  transform: scale(1.2);
}
.section-7-logo {
  padding: 5rem 0;
  margin-right: 80rem;
  transition: transform 0.5s;
}
.section-7-logo:hover {
  transform: scale(1.2);
}

/* ********* Media Query *********** */

/* max-width 480px */

@media (max-width: 480px) {
  html {
    font-size: 40%;
  }
  .list {
    display: none;
  }
  .hero-section {
    display: block;
  }
  .right-main {
    margin-top: 5rem;
  }
  img[alt="group-item"] {
    width: 90%;
    margin-left: 3rem;
  }

  img[alt="logo-1"],
  img[alt="logo-4"] {
    display: none;
  }
  .top-section-2-heading {
    font-size: 3rem;
    margin-left: 12rem;
  }
  .top-section-2-description {
    font-size: 2rem;
    width: 60%;
    margin: 1.5rem 14rem;
  }
  .bottom-section-2 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5rem 6rem 5rem;
  }
  .fast-section {
    width: 50%;
    height: 40rem;
    position: relative;
    right: 0rem;
  }
  .signal-section {
    width: 50%;
    height: 40rem;
    position: relative;
    bottom: 0rem;
  }
  .heart-section {
    width: 40%;
    height: 40rem;
    position: relative;
    left: 3rem;
    bottom: 20rem;
  }
  .top-section-4 {
    width: 80%;
    position: relative;
    right: 0.5rem;
  }
  .bottom-section-4 {
    display: block;
  }
  .left-bottom {
    padding: 5rem 0;
  }
  .bottom-section-5 {
    display: block;
  }
  .regular-plan {
    width: 70%;
    margin: 5rem 0;
  }
  .select-btn {
    margin-left: 10rem;
  }
  .standard-plan {
    width: 70%;
    margin: 5rem 0;
  }
  .select-btn1 {
    margin-left: 10rem;
  }
  .premium-plan {
    width: 70%;
    margin: 5rem 0;
  }
  .section-6-botttom-left {
    width: 40%;
    position: relative;
    left: 5rem;
  }
  .section-6-botttom-right {
    width: 40%;
    position: relative;
    left: 0.5rem;
  }
  .input-section {
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 100%;
  }
  .input {
    margin: 2rem 0;
    height: 5rem;
    width: 30rem;
  }
  .section-7-list {
    padding: 5rem 2rem;
    gap: 3rem;
  }
  .section-7-logo {
    margin-right: 0;
  }
}

/* min-width: 481px and max-width: 600px */

@media (min-width: 481px) and (max-width: 600px) {
  html {
    font-size: 45%;
  }
  .list {
    display: none;
  }
  .hero-section {
    display: block;
  }
  .right-main {
    margin-top: 5rem;
  }
  img[alt="group-item"] {
    width: 90%;
    margin-left: 3rem;
  }
  img[alt="logo-1"],
  img[alt="logo-4"] {
    display: none;
  }
  .top-section-2-heading {
    font-size: 3rem;
    margin-left: 12rem;
  }
  .top-section-2-description {
    font-size: 2rem;
    width: 60%;
    margin: 5.5rem 12rem;
  }
  .bottom-section-2 {
    display: flex;
    flex-wrap: wrap;
  }
  .fast-section {
    width: 50%;
    height: 40rem;
    position: relative;
    right: 0rem;
  }
  .signal-section {
    width: 50%;
    height: 40rem;
    position: relative;
    bottom: 0rem;
  }
  .heart-section {
    width: 40%;
    height: 40rem;
    position: relative;
    left: 3rem;
    bottom: 20rem;
  }
  .top-section-4 {
    width: 80%;
    position: relative;
    right: 0.5rem;
  }
  .bottom-section-4 {
    display: block;
  }
  .left-bottom {
    padding: 5rem 0;
  }
  .bottom-section-5 {
    display: block;
  }
  .regular-plan {
    width: 80%;
    margin: 5rem 0;
  }
  .select-btn {
    margin-left: 16rem;
  }
  .standard-plan {
    width: 80%;
    margin: 5rem 0;
  }
  .select-btn1 {
    margin-left: 16rem;
  }
  .premium-plan {
    width: 80%;
    margin: 5rem 0;
  }
  .section-6-botttom-left {
    width: 40%;
    position: relative;
    left: 5rem;
  }
  .section-6-botttom-right {
    width: 40%;
    position: relative;
    left: 0.5rem;
  }
  .input-section {
    display: flex;
    flex-direction: column;
    width: 50rem;
    height: 100%;
  }
  .input {
    margin: 2rem 0;
    height: 7rem;
    width: 30rem;
  }
  .section-7-list {
    padding: 5rem 2rem;
    gap: 3rem;
  }
  .section-7-logo {
    margin-right: 0;
  }
}

/* min-width: 601px and max-width:768px */

@media (min-width: 601px) and (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .logo-item,
  .navbar-button {
    display: none;
  }
  .list {
    margin-left: 10rem;
  }
  .hero-section {
    display: block;
  }
  .right-main {
    margin-top: 5rem;
  }
  img[alt="group-item"] {
    width: 90%;
    margin-left: 8rem;
  }
  img[alt="logo-1"] {
    display: none;
  }
  .top-section-2-heading {
    margin-left: 12rem;
  }
  .top-section-2-description {
    font-size: 2rem;
    width: 60%;
    margin: 3.5rem 15rem;
  }
  .fast-section {
    width: 40%;
    height: 40rem;
  }
  .signal-section {
    width: 40%;
    height: 40rem;
  }
  .heart-section {
    width: 40%;
    height: 40rem;
  }
  .top-section-4 {
    width: 80%;
    position: relative;
    right: 0;
  }
  .bottom-section-4 {
    display: block;
  }
  .left-bottom {
    padding: 5rem 0;
  }
  .bottom-section-5 {
    display: block;
  }
  .regular-plan {
    width: 50%;
    margin: 5rem 15rem;
  }
  .select-btn {
    margin-left: 7rem;
  }
  .standard-plan {
    width: 50%;
    margin: 5rem 15rem;
  }
  .select-btn1 {
    margin-left: 7rem;
  }
  .premium-plan {
    width: 50%;
    margin: 5rem 15rem;
  }
  .section-6-botttom-left {
    width: 40%;
    position: relative;
    left: 6rem;
  }
  .section-6-botttom-right {
    width: 40%;
    position: relative;
    left: 3rem;
  }
  .section-7-list {
    padding: 5rem 2rem;
    gap: 10rem;
  }
  .section-7-logo {
    margin-right: 0;
  }
}

/* min-width:769px and max-width:1024px */

@media (min-width:769px) and (max-width:1024px) {
  html{
    font-size: 60%;
  }
  .fast-section {
    width: 40%;
    height: 35rem;
  }
  .signal-section {
    width: 40%;
    height: 35rem;
  }
  .heart-section {
    width: 40%;
    height: 35rem;
  }
  .bottom-section-4 {
    gap: 1rem;
  }
  .select-btn {
    width: 21rem;
    height: 5rem;
  }
  .select-btn1 {
    width: 21rem;
    height: 5rem;
  }
  .section-7-list {
    padding: 5rem 2rem;
    gap: 13rem;
  }
}