*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
/* ********* Navbar Container *********** */
.nav-container{
    background-image: url('./Photos/mainBackground.png');
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
    background-color: #808080;
    background-blend-mode: multiply;
}
/* Navbar */
.navbar{
 display: flex;
 gap: 28rem;
 padding: 2rem 0;
 border-bottom: 0.1rem solid #e4e0e0;
}
.nav-logo{
    padding: 0 14rem;
    transition: transform 0.5s;
}
.nav-logo:hover{
    transform: scale(1.2);
}
.list{
    display: flex;
    list-style: none;
}
.list-items{
    font-size: 2rem;
    padding: 2rem;
    color: #ffffff;
    transition: transform .5s;
}
.list-items:hover{
    color: #5159f3;
    transform: scale(1.2);
}

/* Nav Container Heading */
.nav-main{
    padding: 15rem 17rem  10rem;
}
.nav-main-heading{
    font-size: 3rem;
    font-weight: 800;
    color: #ffffff;
    width: 60%;
}
.nav-main-description{
    font-size: 1.5rem;
    color: #ffffff;
    width: 35%;
    padding: 1rem 0;
}
.nav-main-button{
    font-size: 1.8rem;
    height: 5rem;
    width: 17rem;
    border-radius: 3rem;
    border: none;
    color: #e4e0e0;
    background-color: #5159f3;
    margin: 2rem 0;
}
.nav-main-button:hover{
    color: #5159f3;
    background-color: #e4e0e0;
}

/* ********** Logo Section ************ */
.logo-section{
   display: flex; 
   border-radius: 3rem;
   background-color: #ffffff;
   margin: 0 3rem;
   position: relative;
   top: 7rem;
   transition: transform 1s;
}
.logo{
    padding: 5rem 5rem;
}
.logo:hover{
    transform: scale(1.5);
}

/* **********Hero Section ********* */
.hero-section{
    background-color: #cbf0f0;
    margin: 2rem 0;
    padding: 10rem 0;
}

.hero-section-heading{
    margin: auto;
    font-size: 2.5rem;
    font-weight: 600;
    width: 25%;
}

.description{
    background-color: #fff;
    border-radius: 1.5rem;
    padding: 1.5rem;
    margin:0 2rem ;
    width: 30rem;
    height: 11rem;
    position: relative;
    top: 30rem;
}
.description:hover{
    background-color: #cbf0f0;
    border: 0.2rem solid rgb(56, 52, 52);
}
.description-name{
    font-size: 2rem;
}
.description-amount{
    font-size: 1.5rem;
    color: #1B98F5;
    padding: 1.5rem 0;
}
.description-button{
    font-size: 1.5rem;
    font-weight: 600;
    height: 5rem;
    width: 13rem;
    border-radius: 3rem;
    border: none;
    color: #e4e0e0;
    background-color: #5159f3;
    position: relative;
    left: 13rem;
    bottom: 6rem;
    transition: transform .5s;
}
.description-button:hover{
   transform: scale(1.2); 
   background-color: #fff;
   color: #5159f3;
   border: 0.2rem solid #808080;
}

/* Top division */
.top-hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5rem 0;
}
/* Top Image 1 */
.top-image-1{
    background-image: url('./Photos/cardImage1.png');
    height: 35rem;
    width: 35rem;
    background-size: cover;
    background-position: 55%  center;
    border-radius: 2rem;
    position: relative;
    top: 2rem;
}
/* Top Image 2 */
.top-image-2{
    background-image: url('./Photos/cardImage2.png');
    height: 35rem;
    width: 35rem;
    background-size: cover;
    background-position: 55%  center;
    border-radius: 2rem;
    position: relative;
    top: 4rem;
}
/* Top Image 3 */
.top-image-3{
    background-image: url('./Photos/cardImage3.png');
    height: 35rem;
    width: 35rem;
    background-size: cover;
    background-position: 55%  center;
    border-radius: 2rem;
    position: relative;
    top: 8rem;
}

/* Middle division */
.middle-hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 14rem 0;
}
/* Middle Image 1 */
.middle-image-1{
    background-image: url('./Photos/cardImage4.png');
    height: 35rem;
    width: 35rem;
    background-size: cover;
    background-position: 55%  center;
    border-radius: 2rem;
    position: relative;
    top: 11rem;
}
/* Middle Image 2 */
.middle-image-2{
    background-image: url('./Photos/cardImage5.png');
    height: 35rem;
    width: 35rem;
    background-size: cover;
    background-position: 55%  center;
    border-radius: 2rem;
    position: relative;
    top: 8rem;
}
/* Middle Image 3 */
.middle-image-3{
    background-image: url('./Photos/cardImage6.png');
    height: 35rem;
    width: 35rem;
    background-size: cover;
    background-position: 55%  center;
    border-radius: 2rem;
    position: relative;
    top: 5rem;
}

/* Bottom division */
.bottom-hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 14rem 0;
}
/* Bottom Image 1 */
.bottom-image-1{
    background-image: url('./Photos/cardImage7.png');
    height: 35rem;
    width: 35rem;
    background-size: cover;
    background-position: 55%  center;
    border-radius: 2rem;
    position: relative;
    top: 9rem;
}
/* Bottom Image 2 */
.bottom-image-2{
    background-image: url('./Photos/cardImage8.png');
    height: 35rem;
    width: 35rem;
    background-size: cover;
    background-position: 55%  center;
    border-radius: 2rem;
    position: relative;
    top: 12rem;
}
/* Bottom Image 3 */
.bottom-image-3{
    background-image: url('./Photos/cardImage9.png');
    height: 35rem;
    width: 35rem;
    background-size: cover;
    background-position: 55%  center;
    border-radius: 2rem;
    position: relative;
    top: 15rem;
}

/* ************* Feature Section ************* */
/* Feature Section 1 */

.feature-heading-1{
    font-size: 2.5rem;
    font-weight: 600;
}
.feature-paragraph-1{
    font-size: 1.5rem;
    padding: 2rem 0;
    width: 80%;
}
.feature-button-1{
    font-size: 1.5rem;
    font-weight: 600;
    height: 4rem;
    width: 18rem;
    border-radius: 3rem;
    border: none;
    color: #e4e0e0;
    background-color: #5159f3;
}
.feature-button-1:hover{
    color: #5159f3;
    background-color: #fff8f8;
    border: 0.2rem solid #808080;
}

.feature-description-1{
    position: relative;
    right: 8rem;
}
.feature-section-1{
    display: flex;
    padding: 20rem 0;
}
.feature-image-1{
    background-image: url('./Photos/featuresImage1.png');
    height: 48rem;
    width: 68.5rem;
    background-size: cover;
    background-position: 55%  center;
    border-radius: 2rem;
    position: relative;
    right: 21rem;
    bottom: 4rem;
}
.feature-vector-1{
    height: 35rem;
    width: 35rem;
}

/* Feature Section 2 */

.feature-heading-2{
    font-size: 2.5rem;
    font-weight: 600;
    width: 60%;
}
.feature-paragraph-2{
    font-size: 1.5rem;
    padding: 2rem 0;
    width: 80%;
}
.feature-button-2{
    font-size: 1.5rem;
    font-weight: 600;
    height: 4rem;
    width: 18rem;
    border-radius: 3rem;
    border: none;
    color: #e4e0e0;
    background-color: #5159f3;
}
.feature-button-2:hover{
    color: #5159f3;
    background-color: #fff8f8;
    border: 0.2rem solid #808080;
}
.feature-description-2{
    position: relative;
    left: 18rem;
}
.feature-section-2{
    display: flex;
}
.feature-image-2{
    background-image: url('./Photos/featuresImage2.png');
    height: 48rem;
    width: 69rem;
    background-size: cover;
    background-position: 55%  center;
    border-radius: 2rem;
    position: relative;
    right: 14rem;
    bottom: 4rem;
}
.feature-vector-2{
    height: 35rem;
    width: 35rem;
    position: relative;
    left: 15rem;
}

/* ************** Subscription Section ***************** */
.subscription-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6368f1;
    margin: 18rem 5rem;
    padding: 5rem 3rem;
    border-radius: 3rem;
}
.subscription-heading{
    font-size: 4rem;
    text-align: center;
    color: #fcf8f8;
    width: 70%;
}
.subscription-paragraph{
    font-size: 1.5rem;
    text-align: center;
    color: #fcf8f8;
    width: 50%;
    padding: 3rem 0;
}
.subscription-mail-section{
    display: flex;
}
.subscription-mail-image{
    background-color: #4044b6;
    width: 50rem;
    height: 5rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    margin-right: 2rem;
}
.mail{
    font-size: 1.5rem;
    padding-left: 1rem;
    position: relative;
    bottom: 0.8rem;
    color: #cac5c5;
}
.subscription-button{
    font-size: 1.5rem;
    font-weight: 600;
    height: 5rem;
    width: 15rem;
    border-radius: 3rem;
    border: none;
    color: #4044b6;
    background-color: #f7f1f1;
}
.subscription-button:hover{
    color:  #f7f1f1;
    background-color: #6368f1;
    border: .2px solid rgb(27, 26, 26);
}

/* ************* Footer Section ******************** */
.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer-1{
    width: 20%;
}
.social-media{
    padding: 2rem 0;
    transition: transform .5s;
}
img[alt="twitter"]{
    padding: 0 1rem;
}
img[alt="facebook"]:hover{
    transform: scale(1.4);
}
img[alt="twitter"]:hover{
    transform: scale(1.4);
}
img[alt="instagram"]:hover{
    transform: scale(1.4);
}
.footer-paragraph{
    font-size: 1.5rem;
}
.footer-list{
    list-style: none;
}
.item-1{
    font-size: 2rem;
    font-weight: 600;
}
.items{
    font-size: 1.5rem; 
    padding: 1rem 0;
    transition: transform .5s;
}
.items:hover{
    transform: scale(1.5);
}


/* ********* Media Query ************* */

@media screen and (max-width:480px) {
    html{
        font-size: 40.5%;
    }
    .navbar{
        width: 50%;
    }
    .list{
        display: none;
    }
    .nav-main-heading{
        width: 90%;
    }
    .nav-main-description{
        width: 85%;
    }
    .hero-section-heading{
        width: 40%;
    }
    .top-hero{
        display: block;
        margin-left: 20rem;
    }
    .top-image-1{
        margin-bottom: 8rem;
    }
    .top-image-2{
        margin-bottom: 8rem;
    }
    .top-image-3{
        margin-bottom: 8rem;
    }
    .middle-hero{
        display: block;
        margin: 0 0 0 20rem;
    }
    .middle-image-1{
        margin-bottom: 15rem;
    }
    .middle-image-2{
        margin-bottom: 15rem;
    }
    .middle-image-3{
        margin-bottom: 15rem;
    }
    .bottom-hero{
        display: block;
        margin: 0 0 0 20rem;
    }
    .bottom-image-1{
        margin-bottom: 8rem;
    }
    .bottom-image-2{
        margin-bottom: 8rem;
    }
    .bottom-image-3{
        margin-bottom: 8rem;
    }
    .features{
        display: flex;
        margin-left: 7rem;
    }
    .feature-description-1{
        width: 55%;
        position: relative;
        left: 2rem;
    }
    .feature-description-2{
        width: 90%;
        position: relative;
        top: 20rem;
        left: 5rem;
    }
    .feature-vector-1,.feature-vector-2{
        display: none;
    }
    .feature-image-1, .feature-image-2{
        display: none;
    }
    .subscription-panel{
        margin-bottom: 20rem;
    }
    .subscription-mail-section{
        width: 95%;
    }
}

/* Min width 481px and Max width 600px */

@media (min-width:481px) and (max-width:600px) {
    html{
        font-size: 50%;
    }
    .navbar{
        width: 80%;
    }
    .nav-logo{
        display: none;
    }
    .list{
        margin-left: 15rem;
    }
    .nav-main-heading{
        width: 90%;
    }
    .nav-main-description{
        width: 90%;
    }
    .logo-section{
        overflow-x: hidden;
        width: 85%;
        margin-left: 6rem;
    }
    .hero-section-heading{
        width: 45%;
    }
    .top-hero{
        display: block;
        margin-left: 20rem;
    }
    .top-image-1{
        margin-bottom: 8rem;
    }
    .top-image-2{
        margin-bottom: 8rem;
    }
    .top-image-3{
        margin-bottom: 8rem;
    }
    .middle-hero{
        display: block;
        margin: 0 0 0 20rem;
    }
    .middle-image-1{
        margin-bottom: 15rem;
    }
    .middle-image-2{
        margin-bottom: 15rem;
    }
    .middle-image-3{
        margin-bottom: 15rem;
    }
    .bottom-hero{
        display: block;
        margin: 0 0 0 20rem;
    }
    .bottom-image-1{
        margin-bottom: 8rem;
    }
    .bottom-image-2{
        margin-bottom: 8rem;
    }
    .bottom-image-3{
        margin-bottom: 8rem;
    }
    .features{
        display: flex;
        margin-left: 7rem;
    }
    .feature-description-1{
        width: 55%;
        position: relative;
        left: 2rem;
    }
    .feature-vector-1,.feature-vector-2{
        display: none;
    }
    .feature-image-1, .feature-image-2{
        display: none;
    }
    .feature-description-2{
        width: 90%;
        position: relative;
        top: 20rem;
        left: 5rem;
    }
    .subscription-panel{
        margin-bottom: 20rem;
    }
    .subscription-mail-section{
        width: 95%;
    }
}

/* Min width 601px and max width 768px */

@media (min-width:601px) and (max-width:768px) {
    html{
        font-size: 55%;
    }
    .navbar{
        display: flex;
        gap: 5rem;
    }
    .nav-logo{
        padding: 0 4rem;
    }
    .nav-main-heading, .nav-main-description{
        width: 90%;
    }
    .hero-section-heading{
        width: 70%;
    }
    .top-hero{
        display: flex;
        flex-wrap: wrap;
    }
    .top-image-2{
        position: relative;
        top: 2rem;
    }
    .middle-hero{
        display: flex;
        flex-wrap: wrap;
    }
    .middle-image-1{
        position: relative;
        top: 8rem;
    }
    .middle-image-3{
        position: relative;
        top: 14rem;
    }
    .bottom-hero{
        display: flex;
        flex-wrap: wrap;
    }
    .bottom-image-1{
        position: relative;
        top: 12rem;
    }
    .bottom-image-3{
        position: relative;
        top: 18rem;
    }
    .features{
        display: flex;
        margin-left: 7rem;
    }
    .feature-description-1{
        width: 65%;
        position: relative;
        left: 2rem;
    }
    .feature-vector-1,.feature-vector-2{
        display: none;
    }
    .feature-image-1, .feature-image-2{
        display: none;
    }
    .feature-description-2{
        position: relative;
        top: 20rem;
        left: 5rem;
    }
    .subscription-panel{
        width: 90%;
        margin: 5rem 5rem; 
    }
}

/* Min width 769px and max-width 1024px */

@media (min-width:769px) and (max-width:1024px) {
    .navbar{
        gap: 5rem;
    }
    .nav-logo{
        padding: 0 4rem;
    }
    .logo-section{
        width: 96%;
     }
     .top-hero{
        display: flex;
        flex-wrap: wrap;
    }
    .top-image-2{
        position: relative;
        top: 2rem;
    }
    .middle-hero{
        display: flex;
        flex-wrap: wrap;
    }
    .middle-image-1{
        position: relative;
        top: 8rem;
    }
    .middle-image-3{
        position: relative;
        top: 14rem;
    }
    .bottom-hero{
        display: flex;
        flex-wrap: wrap;
    }
    .bottom-image-1{
        position: relative;
        top: 12rem;
    }
    .bottom-image-3{
        position: relative;
        top: 18rem;
    }
    .feature-section-1{
        display: block;
    }
    .feature-section-2{
        display: block;
    }
    .feature-description-1{
        position: relative;
        right: 1rem;
        margin-left: 5rem;
    }
    .feature-image-1{
        height: 40rem;
        width: 40rem;
        position: relative;
        left: 11rem;
        bottom: 19rem;
    }
    .feature-vector-1{
        height: 25rem;
        width: 25rem;
    }
    .feature-description-2{
        margin-left: 21rem;
    }
    .feature-image-2{
        height: 40rem;
        width: 40rem;
        position: relative;
        left: 50rem;
        bottom: 19rem;
    }
    .feature-vector-2{
        height: 25rem;
        width: 25rem;
        margin-left: 16rem;
    }
}