*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    
}
html{
    font-size: 62.5%;
}
.section-one{
    background-image: url('./Project\ 3-\ Gaming\ Landing\ Page/Assets/Photos/futuristic-bg.png');
    color: rgb(240, 234, 234);
    overflow: hidden;
}

/**************** Navbar********** */
.navbar{
    display: flex;
    padding: 3rem 3rem;
}
.logo{
    margin: 0 7.5rem;
    transition: transform .2s;
}
.logo:hover{
    transform: scale(1.5);
}
.list{
    display: flex;
    padding: 1rem 0;
    list-style-type: none;
}
.list-items{
    font-size: 2rem;
    margin: 0 3rem;
    transition: transform .2s;
}
.list-items:hover{
    transform: scale(1.5);
    color: #808080;
}
.nav-button{
    position: relative;
    left: 18rem;
}
.sign-in{
    font-size: 1.8rem;
    width: 10rem;
    height: 5rem;
    border: none;
    color: rgb(240, 234, 234);
    background-color: rgb(22, 22, 22, 0.2);
}
.sign-in:hover{
    background-color: #BF3312;
}
.sign-up{
    font-size: 1.8rem;
    width: 10rem;
    height: 5rem;
    border: none;
    color: rgb(240, 234, 234);
    background-color: #BF3312;
}
.sign-up:hover{
    background-color: rgb(240, 234, 234);
    color: #BF3312;
}
/* **************** Main Section **************** */
.main-section{
    display: flex;
    padding: 15rem 0;
}
/* *************Left Main Div **************** */
.left-main{
    padding:4rem 0 0 10rem;
}
.left-main-heading{
    font-size: 4rem;
    width: 80%;
    font-weight: 600;
}
.left-main-para{
    font-size: 2rem;
    width: 75%;
}
.left-main-buttons{
    padding: 3rem 0;
}
.get-started-button{
    font-size: 2rem;
    width: 12rem;
    height: 5rem;
    border: none;
    color: rgb(240, 234, 234);
    background-color: #BF3312;
    margin-right: 2rem;
}
.get-started-button:hover{
    background-color: #fff;
    color: #BF3312;
}
.learn-more-button{
    font-size: 2rem;
    width: 12rem;
    height: 5rem;
    border: 2px solid rgb(240, 234, 234);
    color: rgb(240, 234, 234);
    background-color: rgb(22, 22, 22, 0.2);
}
.learn-more-button:hover{
   background-color: #BF3312;
   color: #ffffff;
   border: none;
}

/* *************Right Main Div **************** */
.right-main{
    padding: 0 8rem;
}
.right-main-play{
    position: relative;
    top: 5rem;
    left: 8rem;
}
.right-main-div{
    display: flex;
    position: relative;
    top: 10rem;
}
.right-main-heading{
    font-size: 2.5rem;
}
.right-main-dash{
    padding-right: 2rem;
}
.right-main-arrow{
    position: relative;
    top: 10rem;
}

/* ************Section 2 ************ */

/* Section 2 top */
.section-two{
    padding: 5rem 0;
}
.section-two-heading{
    margin-left: 16rem;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    width: 70%;
    padding: 2rem 0;
}

/* Section 2 bottom */
.section-two-games{
    display: flex;
    margin-left: 7rem;
}
/* Solider div */
.solider-main-div{
    background-image: url('./Project\ 3-\ Gaming\ Landing\ Page/Assets/Photos/image 2.png');
    width: 20%;
    height: 30rem;
    background-position: 75% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 6rem;
}
.solider-war{
    color: rgb(248, 246, 246);
    backdrop-filter: blur(10px);
    height: 10rem;
    padding: 0 1rem;
    position: relative;
    top: 67%;
    transition: transform .5s;
}
.solider-war:hover{
    transform: scale(1.1);
    background-color: rgb(34, 31, 31);
}
.solider-heading{
    font-size: 1rem;
    padding-top: 1rem;
}
.solider-action{
    padding: 1rem 0;
    font-size: 1.3rem;
    color: rgb(190, 183, 183);
}
.solider-download{
    height: 4rem;
    width: 12rem;
    font-size: 1.6rem;
    border: none;
    background-color: #f35c3b;
    position: relative;
    left: 8rem;
    bottom: 3.5rem;
    color: rgb(248, 246, 246);
}
.solider-download:hover{
    background-color: #fff;
    color: #f35c3b;
}
/* Warrior div */
.warriors-main-div{
    background-image: url('./Project\ 3-\ Gaming\ Landing\ Page/Assets/Photos/image 4.png');
    width: 20%;
    height: 30rem;
    background-position: 55% 90%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 8rem;
}
.warriors-war{
    color: rgb(248, 246, 246);
    backdrop-filter: blur(10px);
    height: 10rem;
    padding: 0 1rem;
    position: relative;
    top: 67%;
    transition: transform .5s;
}
.warriors-war:hover{
    transform: scale(1.1);
    background-color: rgb(34, 31, 31);
}
.warriors-heading{
    font-size: 1rem;
    padding-top: 1rem;
}
.warriors-action{
    padding: 1rem 0;
    font-size: 1.3rem;
    color: rgb(190, 183, 183);
}
.warriors-download{
    height: 4rem;
    width: 12rem;
    font-size: 1.6rem;
    border: none;
    background-color: #f35c3b;
    position: relative;
    left: 8rem;
    bottom: 3.5rem;
    color: rgb(248, 246, 246);
}
.warriors-download:hover{
    background-color: #fff;
    color: #f35c3b;
}
/* Pubjiken */
.pubjiken-main-div{
    background-image: url('./Project\ 3-\ Gaming\ Landing\ Page/Assets/Photos/image 3.png');
    width: 20%;
    height: 30rem;
    background-position: 45% 90%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 10rem;
}
.pubjiken-war{
    color: rgb(248, 246, 246);
    backdrop-filter: blur(10px);
    height: 10rem;
    padding: 0 1rem;
    position: relative;
    top: 67%;
    transition: transform .5s;
}
.pubjiken-war:hover{
    transform: scale(1.1);
    background-color: rgb(34, 31, 31);
}
.pubjiken-heading{
    font-size: 1rem;
    padding-top: 1rem;
}
.pubjiken-action{
    padding: 1rem 0;
    font-size: 1.3rem;
    color: rgb(190, 183, 183);
}
.pubjiken-download{
    height: 4rem;
    width: 12rem;
    font-size: 1.6rem;
    border: none;
    background-color: #f35c3b;
    position: relative;
    left: 8rem;
    bottom: 3.5rem;
    color: rgb(248, 246, 246);
}
.pubjiken-download:hover{
    background-color: #fff;
    color: #f35c3b;
}
/* Garela */
.garela-main-div{
    background-image: url('./Project\ 3-\ Gaming\ Landing\ Page/Assets/Photos/Rectangle 56.png');
    width: 20%;
    height: 30rem;
    background-position: 45% 90%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 12rem;
}
.garela-war{
    color: rgb(248, 246, 246);
    backdrop-filter: blur(10px);
    height: 10rem;
    padding: 0 1rem;
    position: relative;
    top: 67%;
    transition: transform .5s;
}
.garela-war:hover{
    transform: scale(1.1);
    background-color: rgb(34, 31, 31);
}
.garela-heading{
    font-size: 1rem;
    padding-top: 1rem;
}
.garela-action{
    padding: 1rem 0;
    font-size: 1.3rem;
    color: rgb(190, 183, 183);
}
.garela-download{
    height: 4rem;
    width: 12rem;
    font-size: 1.6rem;
    border: none;
    background-color: #f35c3b;
    position: relative;
    left: 8rem;
    bottom: 3.5rem;
    color: rgb(248, 246, 246);
}
.garela-download:hover{
    background-color: #fff;
    color: #f35c3b;
}

/* ********** Section 3 *************** */
.section-three{
    display: flex;
    padding: 6rem 0;
}
.section-three-image{  
    width: 85%;
    height: 40rem;
    background-size: cover;
    background-position: 45% 90%;
    background-repeat: no-repeat;
    background-image: url('./Project 3- Gaming Landing Page/Assets/Photos/Rectangle 57.png');  
    transition: transform .5s;
    margin-left: 12rem;
}
.section-three-image:hover{  
    transform: scale(1.2);
}
.section-three-right{
    margin-left: 10rem;
}
.section-three-heading{
    font-size: 3rem;
    font-weight: 800;
    width: 70%;
}
.section-three-description{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2rem 0;
    color: #808080;
    width: 80%;
}
.section-three-button{
    padding: 3rem 0;
}
.explore-button{
    font-size: 2rem;
    width: 15rem;
    height: 5rem;
    border: none;
    color: rgb(240, 234, 234);
    background-color: #BF3312;
    margin-right: 2rem;
}
.explore-button:hover{
    color: #BF3312;
    background-color: #ffffff;
    border: 0.2rem solid rgb(97, 95, 95);
}
.learn-button{
    font-size: 2rem;
    width: 15rem;
    height: 5rem;
    border: 2px solid #BF3312;
    color: #BF3312;
    background-color: rgb(243, 240, 240);
}
.learn-button:hover{
    border: none;
    color:  rgb(243, 240, 240);
    background-color: #BF3312;
}

/* ************* Section 4 *************** */

/* Section 4 top */

.section-four-top{
    display: flex;
}
.section-four-heading{
    font-size: 2.5rem;
    width: 40%;
    padding-left: 10rem;
}
.section-four-arrows{
    display: flex;
    position: relative;
    left: 40rem;
    top: 1.5rem;
}
.left-arrow{
    height: 5rem;
    width: 5rem;
    padding: 1.5rem 0;
    text-align: center;
    background-color:#bf321249;
    transition: transform .5s;
}
.left-arrow:hover{
    transform: scale(1.2);
}
.right-arrow{
    background-color: #BF3312;
    text-align: center;
    padding: 1.5rem 0;
    height: 5rem;
    width: 5rem;
    margin: 0 2rem;
    transition: transform .5s;
}
.right-arrow:hover{
    transform: scale(1.2);
}
/* Section 4 bottom */
.section-four-bottom{
    padding: 6rem 0;
}


/* First and Second Combined */
.first-and-second{
    display: flex;
    margin-left: 10rem;
    padding-bottom: 7rem;
}
/* Bottom First div  */
.bottom-first-div{
    display: flex;
}
.bottom-first-image{
    width: 100%;
    height: 30rem;
    background-size: contain;
    background-position: 40% center;
    background-repeat: no-repeat;
    background-image: url('./Project 3- Gaming Landing Page/Assets/Photos/Rectangle 75.png'); 
    position: relative;
    right: 1.2rem;
    transition: box-shadow .5s;
    transition: transform .3s;
}
.bottom-first-image:hover{
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.8); 
    transform: scale(0.8);
}
.bottom-first-heading{
    font-size: 2rem;
    padding-top: 1rem;
}
.bottom-first-action{
    font-size: 1.5rem;
    color: #f35c3b;
    padding: 1rem 0;
}
.bottom-first-description{
    font-size: 1.5rem;
    color: #808080;
    padding-bottom: 2rem;
}
.bottom-first-button{
    height: 5rem;
    width: 13rem;
    font-size: 1.8rem;
    border: none;
    background-color: #f35c3b;
    color: rgb(248, 246, 246);
}
.bottom-first-button:hover{
    border: 0.2rem solid gray;
    background-color:  rgb(248, 246, 246);
    color: #f35c3b;
}
/* Bottom 2nd div */
.bottom-second-div{
    display: flex;
    position: relative;
    left: 8rem;
}
.bottom-second-image{
    width: 100%;
    height: 30rem;
    background-size: contain;
    background-position: 40% center;
    background-repeat: no-repeat;
    background-image: url('./Project 3- Gaming Landing Page/Assets/Photos/Rectangle 76.png'); 
    position: relative;
    left: 1.2rem;
    transition: box-shadow .5s;
    transition: transform .3s;
}
.bottom-second-image:hover{
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.8); 
    transform: scale(0.8);
}
.bottom-second-content{
    padding-left: 1rem;
}
.bottom-second-heading{
    font-size: 2rem;
    padding-top: 1rem;
}
.bottom-second-action{
    font-size: 1.5rem;
    color: #f35c3b;
    padding: 1.5rem 0;
}
.bottom-second-description{
    font-size: 1.5rem;
    color: #808080;
    padding-bottom: 3rem;
}
.bottom-second-button{
    height: 5rem;
    width: 13rem;
    font-size: 1.8rem;
    border: none;
    background-color: #f35c3b;
    color: rgb(248, 246, 246);
}
.bottom-second-button:hover{
    border: 0.2rem solid gray;
    background-color:  rgb(248, 246, 246);
    color: #f35c3b;
}

/* Third and Fourth  */
.third-and-fourth{
    display: flex;
    margin-left: 10rem;
}
/* Bottom Third Div */
.bottom-third-div{
    display: flex;
}
.bottom-third-image{
    width: 100%;
    height: 30rem;
    background-size: contain;
    background-position: 40% center;
    background-repeat: no-repeat;
    background-image: url('./Project 3- Gaming Landing Page/Assets/Photos/Rectangle 77.png'); 
    position: relative;
    right: 1.2rem;
    transition: box-shadow .5s;
    transition: transform .3s;
}
.bottom-third-image:hover{
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.8); 
    transform: scale(0.8);
}
.bottom-third-heading{
    font-size: 2rem;
    padding-top: 1rem;
}
.bottom-third-action{
    font-size: 1.5rem;
    color: #f35c3b;
    padding: 1.5rem 0;
}
.bottom-third-description{
    font-size: 1.5rem;
    color: #808080;
    padding-bottom: 1.8rem;
}
.bottom-third-button{
    height: 5rem;
    width: 13rem;
    font-size: 1.8rem;
    border: none;
    background-color: #f35c3b;
    color: rgb(248, 246, 246);
}
.bottom-third-button:hover{
    border: 0.2rem solid gray;
    background-color:  rgb(248, 246, 246);
    color: #f35c3b;
}

/* Bottom fourth Div */
.bottom-fourth-div{
    display: flex;
    position: relative;
    left: 10rem;
}
.bottom-fourth-image{
    width: 100%;
    height: 30rem;
    background-size: contain;
    background-position: 40% center;
    background-repeat: no-repeat;
    background-image: url('./Project 3- Gaming Landing Page/Assets/Photos/Rectangle 78.png'); 
    position: relative;
    right: 1.2rem;
    transition: box-shadow .5s;
    transition: transform .3s;
}
.bottom-fourth-image:hover{
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.8); 
    transform: scale(0.8);
}
.bottom-fourth-heading{
    font-size: 2rem;
    padding-top: 1rem;
}
.bottom-fourth-action{
    font-size: 1.5rem;
    color: #f35c3b;
    padding: 2rem 0;
}
.bottom-fourth-description{
    font-size: 1.5rem;
    color: #808080;
    padding-bottom: 3rem;
}
.bottom-fourth-button{
    height: 5rem;
    width: 13rem;
    font-size: 1.8rem;
    border: none;
    background-color: #f35c3b;
    color: rgb(248, 246, 246);
}
.bottom-fourth-button:hover{
    border: 0.2rem solid gray;
    background-color:  rgb(248, 246, 246);
    color: #f35c3b;
}

/* **************** Section 5 ************** */

.section-five{
    background-color: rgb(2, 2, 10);
    color: #ffff;
    overflow: hidden;
    padding: 15rem 0;
}
.section-five-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    text-align: center;
    padding: 4rem 0;
}
.section-five-heading:hover{
    color: rgb(104, 102, 102);
}
.section-five-heading >h1{
    width: 35%;
}
.section-five-top{
    display: flex;
}
.section-five-first-img{
    width: 98%;
    height: 55rem;
    background-size: contain;
    background-position: 40% center;
    background-repeat: no-repeat;
    background-image: url('./Project 3- Gaming Landing Page/Assets/Photos/Rectangle 17.png');
    z-index: 1;
    transition: transform .5s;
}
.section-five-first-img:hover{ 
    transform: scale(0.8);
}
.section-five-description{
    font-size: 1.5rem;
    color: #808080;
    position: absolute;
    left: 60rem;
    width: 50%;
}
.section-five-description:hover{
    color: #f8f4f4;
}
.section-five-watermark{
    position: relative;
    left: 51rem;
    bottom: 45rem;
    z-index: 0.5;
}
.section-five-second-img{
    width: 50%;
    height: 40rem;
    background-size: contain;
    background-position: 40% center;
    background-repeat: no-repeat;
    background-image: url('./Project 3- Gaming Landing Page/Assets/Photos/Rectangle 18.png'); 
    position: relative;
    top: 25rem;
    right: 10rem;
    transition: transform .5s;
}
.section-five-second-img:hover{ 
    transform: scale(0.8);
}
.section-five-third-img{
    width: 50%;
    height: 25rem;
    background-size: contain;
    background-position: 40% center;
    background-repeat: no-repeat;
    background-image: url('./Project 3- Gaming Landing Page/Assets/Photos/Rectangle 90.png'); 
    position: relative;
    top: 40rem;
    right: 10rem;
    transition: transform .5s;
}
.section-five-third-img:hover{ 
    transform: scale(0.8);
}
/* ************* Section 6 ************* */

.section-six{
    height: 40rem;
    background-size: cover;
    background-position: 60% center;
    background-repeat: no-repeat;
    background-image: url('./Project 3- Gaming Landing Page/Assets/Photos/Rectangle 606.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #666060;
    background-blend-mode: multiply;
    transition: box-shadow .5s;
}
.section-six:hover{
    box-shadow: 0 0 5rem rgba(120, 231, 194, 0.8);
}
.section-six-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}
.section-six-heading{
    font-size: 3rem;
    color: rgb(240, 232, 232);
    width: 70%;
    text-align: center;
}
.section-six-description{
    font-size: 1.8rem;
    color: #b9acac;
    width: 70%;
    text-align: center;
    padding: 3rem 0;
}
.section-six-button{
    height: 6rem;
    width: 15rem;
    font-size: 1.8rem;
    border: none;
    background-color: #f35c3b;
    color: rgb(248, 246, 246);
}
.section-six-button:hover{
    background-color:rgb(248, 246, 246);
    color: #f35c3b;
}

/* ************** Section 7 *************** */

.section-seven{
    display: flex;
    background-color: rgb(2, 2, 10);
    color: #ffff;
    padding: 5rem 0;
}
.section-seven-logos{
    padding: 5rem 0 0 5rem;
}
.last-description{
    width: 60%;
    font-size: 1.8rem;
    color: #9e9c9c;
    padding: 2rem 0;
}
.instagram{
    padding: 0 1rem;
}
.list-classes{
    display: flex;
}
.last-lists{
    list-style-type: none;
    padding: 5rem 3rem;
}
.last-lists > li{
    font-size: 2rem;
    transition: transform .5s;
}
.last-lists > li:hover{
    transform: scale(1.2);
}
.first-item{
    color: #9e9c9c;
    padding: 0.5rem 0; 
    font-size: 1.5rem;
}
.last-footer{
    padding-bottom: 5rem;
    background-color: rgb(5, 5, 24);
    border-top: 0.2rem solid #ffffff;
}


/* Media Query */

@media (max-width: 480px) {
    html{
        font-size: 40%;
    }
    .list{
        display: none;
    }
    .nav-button{
        position: relative;
        left: 8rem;
    }

    .main-section{
        display: block;
    }
    .section-two-heading{
        margin-left: 10rem;
    }
    .section-two-games{
        display: block;
    }
    .solider-main-div{
        margin-left: 10rem;
        width: 40%;
    }
    .solider-download{
        margin-left: 5rem;
    }
    .warriors-main-div{
        margin:3rem 0 3rem 8rem;
        width: 40%;
    }
    .warriors-download{
        margin-left: 5rem;
    }
    .pubjiken-main-div{
        margin:0 0 3rem 6rem;
        width: 40%;
    }
    .pubjiken-download{
        margin-left: 5rem;
    }
    .garela-main-div{
        margin: 3rem 4rem;
        width: 40%;
    }
    .garela-download{
        margin-left: 5rem;
    }

    .section-three{
        display: block;
        padding: 6rem 10rem;
    }
    .section-three-image{ 
        width: 95%; 
        margin:0 0 3rem 1rem;
    }
    .section-three-heading{
        width: 95%;
    }

    .section-four-arrows{
        position: relative;
        left: 22rem;
        top: 1.5rem;
    }
    .first-and-second{
        display: block;
    }
    .bottom-second-div{
        position: relative;
        left: 0rem;
        top: 3rem;
        margin-right: 3rem;
    }
    .bottom-second-content{
        padding-left: 4rem;
    }
    .third-and-fourth{
        display: block;
    }
    .bottom-fourth-div{
        position: relative;
        left: 0rem;
        top: 3rem;
        margin-right: 4rem;
    }
    .section-five{
        padding: 5rem 0;
    }
    .section-five-images{
        display: block;
        margin-left: 4rem;
    }
    .section-five-second-img,.section-five-third-img,.section-five-description,.section-five-watermark{
        display: none;
    }
}

/* Min-width 481px and Max-width 600px */

@media (min-width: 481px) and (max-width: 600px) {
    html{
        font-size: 45%;
    }
    .list{
        display: none;
    }
     .main-section{
        display: block;
        padding: 20rem 0;
    }
    .left-main{
        padding:0.5rem 0 0 10rem;
    }
    .section-two-heading{
        margin-left: 10rem;
    }
    .section-two-games{
        margin-left: 0.5rem;
        display: flex;
        flex-wrap: wrap;
    }
    .solider-main-div{
        width: 40%;
    }
    .solider-war{
        padding: 0 5rem;
    }
    .solider-download{
        margin-left: 5rem;
    }
    .warriors-main-div{
        width: 40%;
        margin-left: 5rem;
    }
    .warriors-war{
        padding: 0 5rem;
    }
    .warriors-download{
        margin-left: 5rem;
    }
    .pubjiken-main-div{
        width: 40%;
        position: relative;
        left: 6rem;
        top: 3rem;
    }
    .pubjiken-war{
        padding: 0 5rem;
    }
    .pubjiken-download{
        margin-left: 5rem;
    }
    .garela-main-div{
        width: 40%;
        position: relative;
        left: 13rem;
        top: 3rem;
    }
    .section-three{
        display: block;
        padding: 6rem 0;
    }
    .section-three-image{  
        width: 75%;
    }
    .section-three-right{
        margin:5rem 0 0 11rem;
        text-align: justify;
        padding: 0 2rem;
    }
    .section-four-arrows{
        position: relative;
        left: 30rem;
        top: 1.5rem;
    }
    .first-and-second{
        display: block;
    }
    .bottom-second-div{
        position: relative;
        left: 0rem;
        top: 3rem;
        margin-right: 3rem;
    }
    .bottom-second-content{
        padding-left: 4rem;
    }
    .third-and-fourth{
        display: block;
    }
    .bottom-fourth-div{
        position: relative;
        left: 0rem;
        top: 3rem;
        margin-right: 4rem;
    }
    .section-five{
        padding: 5rem 0;
    }
    .section-five-first-img,.section-five-watermark{
        display: none;
    }
    .section-five-description{
        font-size: 1.5rem;
        color: #808080;
        position: absolute;
        left: 40rem;
        width: 45%;
    }
    .section-five-second-img{
        width: 70%;
        position: relative;
        top: 1rem;
        right: 2rem;
    }
    .section-five-third-img{
        width: 50%; 
        position: relative;
        top: 16rem;
        right: 10rem;
    }
}

/* min-width 601px and max-width 768px */

@media (min-width:601px) and (max-width:768px) {
    html{
        font-size: 50%;
    }
    .logo,.nav-button{
        display: none;
    }
    .list{
        margin-left: 18rem;
    }
    .left-main{
        padding: 0 0 0 7rem;
    }
    .left-main-heading{
        width: 55%;
    }
    .right-main{
        padding: 0 2rem;
        margin-right: 3rem;
    }
    .section-two-games{
        margin-left: 0.5rem;
        display: flex;
        flex-wrap: wrap;
    }
    .solider-main-div{
        width: 40%;
    }
    .solider-war{
        padding: 0 5rem;
    }
    .solider-download{
        margin-left: 5rem;
    }
    .warriors-main-div{
        width: 40%;
        margin-left: 5rem;
    }
    .warriors-war{
        padding: 0 5rem;
    }
    .warriors-download{
        margin-left: 5rem;
    }
    .pubjiken-main-div{
        width: 40%;
        position: relative;
        left: 6rem;
        top: 3rem;
    }
    .pubjiken-war{
        padding: 0 5rem;
    }
    .pubjiken-download{
        margin-left: 5rem;
    }
    .garela-main-div{
        width: 40%;
        position: relative;
        left: 13rem;
        top: 3rem;
    }
    .first-and-second{
        display: block;
        margin-left: 2rem;
    }
    .bottom-first-content{
        margin-right: 8rem;
    }
    .bottom-second-div{
        position: relative;
        left: 0rem;
        top: 3rem;
        margin-right: 8rem;
    }
    .bottom-second-content{
        margin-left: 4rem;
    }
    .third-and-fourth{
        display: block;
        margin-left: 1rem;
    }
    .bottom-third-content{
        margin-right: 8.5rem;
    }
    .bottom-fourth-div{
        position: relative;
        left: 0rem;
        top: 3rem;
        margin-right: 4rem;
    }
    .bottom-fourth-content{
        margin-right: 3rem;
    }
    .section-five{
        padding: 5rem 0;
    }
    .section-five-first-img,.section-five-watermark{
        display: none;
    }
    .section-five-description{
        font-size: 1.5rem;
        color: #808080;
        position: absolute;
        left: 40rem;
        width: 45%;
    }
    .section-five-second-img{
        width: 70%;
        position: relative;
        top: 1rem;
        right: 2rem;
    }
    .section-five-third-img{
        width: 50%; 
        position: relative;
        top: 16rem;
        right: 10rem;
    }
}

/* min-width 769px and max-width 1024px */

@media (min-width:769px) and (max-width: 1024px) {
    html{
        font-size: 55%;
    }
    .logo{
        margin: 0 5rem;
    }
    .nav-button{
        position: relative;
        left: 3rem;
    }
    .section-three-image{  
        margin-left: 5rem;
    }
    .first-and-second{
        margin-left: 4rem;
    }
    .third-and-fourth{
        margin-left: 4rem;
    }
    .section-five{
        padding: 5rem 0;
    }
    .section-five-first-img{
        width: 60%;
    }
    .section-five-description{
        position: absolute;
        left: 55rem;
    }
    .section-five-watermark{
        display: none;
    }
    .section-five-second-img{
        width: 30%;
        position: relative;
        top: 10rem;
        right: 8rem;
    }
    .section-five-third-img{
        width: 20%;
        position: relative;
        top: 18rem;
        right: 7rem;
    }
}